.logo-img {
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    vertical-align: middle; /* Align the image vertically with text */
    /* Add any other styling you want */
  }
  