input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 0.5; /* Réduction de la hauteur de ligne */
    color: #495057;
    background-color: #B0E0E6;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.highlight-effect {
    box-shadow: 0 0 250px rgba(255, 255, 255, 0.5); /* Couleur blanche avec une faible opacité */
    transition: box-shadow 0.3s ease-in-out; /* Animation de transition pour l'effet */
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder,

textarea::placeholder {
    color: #6c757d !important; /* Couleur du texte du placeholder */
}

/* Styles pour le conteneur du logo et du titre */
.logo-container {
    text-align: center; /* Centre le contenu horizontalement */
}

/* Styles pour l'image du logo */
.logo-container img {
    display: block; /* Assure que l'image est un élément de bloc */
    margin: 0 auto; /* Centre l'image horizontalement */
    margin-bottom: 5px; /* Ajoute un espace sous l'image */
}

/* Styles pour le titre "SIGN UP" */
.logo-container h3 {
    font-size: 20px; /* Taille de la police du titre */
    color: #333;
    font-weight: bold;
}

