<div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="w-100" src="assets/img/carousel-1.jpg" alt="Image">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="col-lg-5">
                    <div class="bg-primary rounded mx-auto my-4 p-4 wow zoomIn highlight-effect" data-wow-delay="0.9s" style="max-width: 400px;">
                        <form>
                            <div class="logo-container text-center mb-4">
                                <img src="assets/img/logo.png" width="90px" alt="Logo">
                                <h3 class="sign-in-title mt-2">RESET PASSWORD</h3>
                                <p>Please enter your email address. You will receive a link to create a new password via email.</p>
                            </div>
                            <div class="row g-3">
                                <div class="col-12">
                          
  
  <form (submit)="onForgotPassword(email)">
     
      <input type="email" [(ngModel)]="email" name="email" placeholder="Enter your email" required>
    
      <button class="btn btn-dark w-100 py-2 px-3 rounded-50 mt-3" type="submit" style="text-transform: lowercase;">Reset Password</button>
    </form>
    
  
                                </div>
                            
                              
                                
                                <hr>
                                <div class="d-flex">
                                    <p class="mx-auto">Return to the <a href="/login"
                                        class="link-dark">&nbsp; &nbsp; Sign in</a></p>
                                  
               
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  